<% provide(:title, "#{@album.name} - ") %>
<p id="notice"><%= notice %></p>

<p>
  <b>タイトル:</b>
  <%= @album.name %>
</p>

<p>
  <b>メモ:</b>
  <%= @album.content %>
</p>

<p>
  <b>アルバム情報:</b>
  Total <%= @album.photos.count %> pics
  <% if @album.photos.count > 0 %>
    / Last Update
    <%=@album.photos.last.updated_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %>
  <% end %>
</p>
<p>
  <b>アルバムプラン:</b>
    <%= @album.plan %>
</p>

<% if !request.smart_phone? %>
 <%= link_to 'ダウンロード', 'http://pictcollect.dip.jp/system/pict_share/zips/' + @album.id.to_s + '_' + @album.directory_strings + '.zip', class: "btn btn-link" %>
<% end %>
<% if !current_user.nil? && @album.user_id == current_user.id %>
  <%= link_to 'Edit', edit_album_path(@album), class: "btn btn-link" %> 
<% end %>



<br />
<ul class="snsb">

<li>
<% facebook_link = "http://pictcollect.dip.jp/albums/" + @album.id.to_s %>
<div class="fb-like" align="right" data-href="<%= facebook_link %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
</li>
<li>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="pictcollect">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</li>
</ul>

<div class="flexslider">
  <ul class="slides">
  <% @album.photos.each do |photo| %>
    <li>
      <%#= image_tag(photo.photo.url(:large)) %>
      <%#= link_to image_tag(photo.photo.url(:large)), photo.photo.url(:original) %>
      <%= image_tag(photo.photo.url(:large)) %>
      <div align="right"><%= link_to "オリジナルサイズでみる", photo.photo.url(:original) %> </div>
    </li>
  <% end %>
 </ul>
</div>

<br /><br /><br /><br /><br />

<style type="text/css">
  .bar {
    width: 300px;
  }
  
  #progress {
    background: #eee;
    border: 1px solid #222;
    margin-top: 20px;
  }
  #progressbar {
    width: 0px;
    height: 24px;
    background: #333;
  }
</style>

<% if (!current_user.nil? && current_user.id == @album.user_id) || @album.ncc == 0 || @album.ncc == 2 %>

  <%= form_for @album, :url => {:action => 'add_photos'}, :remote => true, class: "btn btn-primary" do |f| %>
    <%= file_field_tag('album_photos_photo', multiple: true, name: "files[]") %>
    <div class="actions">
    <output id="submit_button"></output>
    <output id="bar"></output>
    <output id="list"></output>
    </div>
  <% end %>

<% end %>
<br />

<div id="modal-content">
  <p>「閉じる」か「背景」をクリックするとモーダルウィンドウを終了します。</p>
  <img src="../system/pict_share/1_b73ce398c39f506af761d2277d853a92/photos/3/large/3_スクリーンショット_2015-01-05_17.46.09.png">
  <p><a id="modal-close" class="button-link">閉じる</a></p>
</div>

<div id="modal-overlay"></div>
<p><a id="modal-open" class="button-link">クリックするとモーダルウィンドウを開きます。</a></p>

<script>
  function handleFileSelect(evt) {
    document.getElementById('submit_button').innerHTML = '<button type="submit" class="btn btn-primary">アップロード</button>';
    var files = evt.target.files; // FileList object

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  Math.floor(f.size / 1024), 'KB, last modified: ',
                  f.lastModifiedDate.toLocaleDateString(), '</li>'
                 );
    }
    document.getElementById('bar').innerHTML = '<div id="uploading"><div id="progress" class="bar"><div id="progressbar">&nbsp;</div><div id="percents"></div></div></div>';
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }
  document.getElementById('album_photos_photo').addEventListener('change', handleFileSelect, false);

$(function() {
    $('form').uploadProgress({
    /* scripts locations for safari */
    jqueryPath: "/assets/jquery.js",
    uploadProgressPath: "/assets/jquery.uploadProgress.js",
    /* function called each time bar is updated */
    uploading: function(upload) {$('#percents').html(upload.percents+'%');},
    /* selector or element that will be updated */
    progressBar: "#progressbar",
    /* progress reports url */
    progressUrl: "/progress",
    /* how often will bar be updated */
    interval: 20
    });
});

$(function(){
  
  $("#modal-open").click( function(){
console.log('click detected');
      //キーボード操作などにより、オーバーレイが多重起動するのを防止する
      $( this ).blur() ;//ボタンからフォーカスを外す
  console.log('click detected');
  console.log($("#modal-overlay")[0]);
      //if( $( "#modal-overlay" )[0] ) return false ;//新しくモーダルウィンドウを起動しない (防止策1)
          if($("#modal-overlay")[0]) $("#modal-overlay").remove() ;//現在のモーダルウィンドウを削除して新しく起動する (防止策2)
    console.log('after if');      
          //オーバーレイを出現させる
          $( "body" ).append( '<div id="modal-overlay"></div>' ) ;
  console.log('body append');
          $( "#modal-overlay" ).fadeIn( "slow" ) ;
console.log('modal-overlay');          
          //コンテンツをセンタリングする
          centeringModalSyncer() ;
console.log('centering');          
          //コンテンツをフェードインする
  $( "#modal-content" ).fadeIn( "slow" ).delay(3000).fadeOut("slow", function() {
  console.log('modal-overlay fadeout');
  $("#modal-overlay").fadeOut("slow").remove();
  });
console.log('fadein');          
          //[#modal-overlay]、または[#modal-close]をクリックしたら…
//          $( "#modal-overlay,#modal-close" ).unbind().click( function(){
//console.log('close click detected');          
//              //[#modal-content]と[#modal-overlay]をフェードアウトした後に…
//              $( "#modal-content,#modal-overlay" ).fadeOut( "slow" , function(){
//                  //[#modal-overlay]を削除する
//                  $('#modal-overlay').remove() ;
//              } ) ;
//
//          } ) ;
console.log('exit');
      } ) ;

  //リサイズされたら、センタリングをする関数[centeringModalSyncer()]を実行する
  $( window ).resize( centeringModalSyncer ) ;

  //センタリングを実行する関数
  function centeringModalSyncer() {

      //画面(ウィンドウ)の幅、高さを取得
      var w = $( window ).width() ;
      var h = $( window ).height() ;
      
      // コンテンツ(#modal-content)の幅、高さを取得
      // jQueryのバージョンによっては、引数[{margin:true}]を指定した時、不具合を起こします。
      //var cw = $( "#modal-content" ).outerWidth( {margin:true} );
      //var ch = $( "#modal-content" ).outerHeight( {margin:true} );
      var cw = $( "#modal-content" ).outerWidth();
      var ch = $( "#modal-content" ).outerHeight();
      
      //センタリングを実行する
      $( "#modal-content" ).css( {"left": ((w - cw)/2) + "px","top": ((h - ch)/2) + "px"} ) ;

  }
} ) ;

</script>
